# Cross Validation - Random_State

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/model_selections/master/Purchased_Dataset.csv',usecols = ['Gender','Age','EstimatedSalary','Purchased'])

In [4]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

### Label Encoding for Gender

In [6]:
df['Gender']=np.where(df['Gender']=='Male',1,0)

In [7]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [63]:
X = df.drop(labels='Purchased',axis = 1)
Y = df['Purchased']

In [64]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

In [65]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2,random_state = 5)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)

In [67]:
metrics.accuracy_score(y_test,y_pred)

0.7875

In [37]:
x_train.head()

     Gender  Age  EstimatedSalary
249       0   35            97000
42        1   35           108000
297       0   43           112000
127       1   26            32000
56        0   23            48000

In [76]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2,random_state = 10)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)

In [77]:
metrics.accuracy_score(y_test,y_pred)

0.85

In [31]:
x_train.head()

     Gender  Age  EstimatedSalary
303       1   37            79000
349       1   38            61000
149       1   20            74000
100       1   27            88000
175       0   23            28000

**Observation : When we change the random state value we get different accuracy score**
**For a particular random state value how manye ever we do train test split we get the same splitting(i.e train & test data remains same)**

## Model Selection - Cross Validation

In [41]:
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=5)
print(cross_val_score(knnclassifier, X, Y, cv=10, scoring ='accuracy').mean())

0.7849999999999999

In [42]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
print (cross_val_score(logreg, X,Y, cv=10, scoring = 'accuracy').mean())

0.6425000000000001

### From Above we see that KNN is best suited